
ErrorDocument 403 /403.php
ErrorDocument 404 /error.php
Options +FollowSymLinks -MultiViews
# ukljucivanje mod_rewrite on
RewriteEngine On
RewriteBase /
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^/?$ index.php
RewriteRule ^pocetna/?$ index.php


RewriteRule ^prijava/?$ login.php
RewriteRule ^zaboravljena-lozinka/?$ forgotPassword.php

RewriteRule ^zaposleni/?$ persons.php
RewriteRule ^zaposleni/([0-9]+)/?$ person.php?id=$1 [QSA]


RewriteRule ^istorija-radova/?$ worksHistory.php
RewriteRule ^istorija-rada/([0-9]+)/?$ singleWorkHistory.php?id=$1 [QSA]
RewriteRule ^aktivni-kvarovi-vozila/([0-9]+)/?$ activeWorksHistory.php?id=$1 [QSA]
RewriteRule ^pregled-aktivnog-kvara-vozila/([0-9]+)/?$ singleActiveWorkHistory.php?id=$1 [QSA]

RewriteRule ^istorija-dnevnih-podataka/?$ dailyDataHistory.php
RewriteRule ^istorija-dnevnog-podatka/([0-9]+)/?$ signleDailyDataHistory.php?id=$1 [QSA]

RewriteRule ^vozila/?$ vehicles.php
RewriteRule ^vozila/([0-9]+)/?$ vehicle.php?id=$1 [QSA]


RewriteRule ^alokacije/?$ allocations.php
RewriteRule ^alokacije/([0-9]+)/?$ allocation.php?id=$1 [QSA]


RewriteRule ^ture/?$ tours.php
RewriteRule ^ankete/?$ surveys.php
RewriteRule ^ankete-vozila/?$ surveys-vehicle.php
RewriteRule ^izvjestaj/?$ report.php
RewriteRule ^anketa/([^/.]+)/?$  survey.php?id=$1 [QSA]
RewriteRule ^saradnici/ankete/([^/.]+)/?$ employeeSurvey.php?token=$1 [QSA]
RewriteRule ^vozila/ankete/([^/.]+)/?$ employeeSurvey.php?token=$1 [QSA]
RewriteRule ^vozila/provjera-vozila/ankete/([^/.]+)/?$ breakdownSurvey.php?token=$1 [QSA]
RewriteRule ^korisnici/zaboravljena-lozinka/([^/.]+)/?$ changePassword.php?token=$1 [QSA]

RewriteRule ^slobodni-dani/?$ annualLeave.php
RewriteRule ^slobodni-dani-pregled/?$ myAnnualLeave.php
RewriteRule ^zahtjev-slobodni-dani/([^/.]+)/?$  annualLeaveSingle.php?id=$1 [QSA]


RewriteRule ^nedeljni-izvjestaji/?$ vehicleWeekInspection.php
RewriteRule ^mjesecni-izvjestaji/?$ vehicleMonthlyInspection.php
RewriteRule ^inspekcija-vozila/([^/.]+)/([^/.]+)/?$ singleVehicleInspection.php?id=$1&tip=$2 [QSA]




<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
</IfModule>

<IfModule mod_headers.c>
  Header always append X-Frame-Options SAMEORIGIN
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options nosniff
</IfModule>








