p.error {
    color: red;
}
.input-group .error {
    position: absolute;
    right: 0;
    bottom: -2em; /* increase this value to move the input down further */
    /*width: 100%;*/
    font-size: 1.2em; /* increase the font size */
    color: red;
}