p.error {
    color: red;
}
.input-group .error {
    position: absolute;
    right: 0;
    bottom: -2em;
    font-size: 1.2em;
    color: red;
}
.warrningAlert{
    white-space: pre-wrap;
    word-wrap: break-word;
}