p.error {
    color: red;
}
.input-group .error {
    position: absolute;
    right: 0;
    bottom: -2em;
    font-size: 1.2em;
    color: red;
}
.warrningAlert{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 15px;
}

.text-truncate {
    max-width: 330px;
    white-space: normal;
}
.newNotification{
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 4px;

}
.pop-notification {
    width: 420px!important;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.centered-loader {
    margin: 0 auto;
}

.swal2-styled.swal2-confirm {
    background-color: #00c9a7!important;
}
.swal2-title {
     font-weight: unset!important;
     font-size: unset!important;
}
.card-header.employeeSurveyName {
    background: #ecf0f1;
}

/* Default styles for the table */
.table {
    /*table-layout: fixed;*/
}

.table th,
.table td {
    white-space: nowrap;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
    .table-container {
        overflow-x: auto!important;
    }

    .table {
        width: 100% !important;
    }
    .pop-notification {
        position: fixed!important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 362px!important;
    }

}
#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Make sure it appears on top of other elements */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid darkgray; /* Blue border on top */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.invalidComment{
    border: 2px red solid
;
}
#vehicle-comment-table td {
    white-space: pre-line;
}

div#chartDiv {
    max-height: 400px ;
}
.disabled-input {
    background-color: silver;
}
#works-history-table .table th, .table td {
    white-space: break-spaces;
}
.accordion>.card>.card-header>.card-title>a{
    background-color: rgba(63, 135, 245,0.2)!important;
}
@media screen and (min-width: 768px) {
    #showDailyDataCart,#showWorksDataCart {
        float: right;
        margin-right: 10px;
    }
}


@media screen and (max-width: 767px) {
  #chartDiv{
      padding: unset!important;
  }
    canvas#dailyDataChart{
        height: auto!important;
        width: 100%!important;
    }
    .dialy-data{
        padding: unset!important;
    }
}
.work-history-row.hovered, .work-history-opis-row.hovered {
    background-color: rgba(63, 135, 245,0.2)!important;
}
